.prevention header {
  padding: 5rem 0 2.5rem 0;
  text-align: center;
}

.prevention header h1 {
  font-size: 1.825rem;
  padding-bottom: 20px;
}

.prevention header p {
  font-size: 1.125rem;
  line-height: 2rem;
  color: #718096;
  padding-bottom: 1.5rem;
}

.prevention .video .container header h1 {
  font-size: 1.825rem;
  padding-bottom: 20px;
}

.prevention .video .container .iframe {
  text-align: center;
}

.prevention .showcase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prevention .showcase div {
  padding: 1.5rem 0 2.5rem 0;
  width: 50%;
  color: white;
}

.prevention .showcase div h2, .prevention .showcase div ul {
  width: 60%;
}

.prevention .showcase div h2 {
  margin: 20px 0;
}

.prevention .showcase div ul li {
  margin: 2.5rem 0;
  line-height: 1.5rem;
}

.prevention .showcase div ul li::first-letter {
  text-transform: uppercase;
}

.prevention .showcase div.do {
  background: #2b8e70;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.prevention .showcase div.do h2, .prevention .showcase div.do ul {
  margin-left: 39%;
}

.prevention .showcase div.dont {
  background: #c53030;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: right;
}

.prevention .showcase div.dont h2, .prevention .showcase div.dont ul {
  margin-right: 33.3333%;
}
